<%= form_for(@filter) do |f| %>
    <% if @filter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@filter.errors.count, "error") %> prohibited this filter from being saved:</h2>

          <ul>
            <% @filter.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label_tag :name, 'Nome', class: "mdl-textfield__label" %><br>
      <%= f.text_field  :name, class: "mdl-textfield__input" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label_tag :query, 'Coluna', class: "mdl-textfield__label" %><br>
      <%= f.text_field  :query, class: "mdl-textfield__input" %>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label_tag :query, 'Operação', class: "mdl-textfield__label" %><br>
      <%= f.select :operation, options_for_select([%w(Igual equals), %w(Menor lesser), %w(MenorIgual lesser_equals),
                                                   %w(Maior greater), %w(MaiorIgual greater_equals),
                                                   %w(Contem like),
                                                   %w(ComeçaCom starts_with), %w(TerminaCom ends_with)]) %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= label_tag :value, 'Valor', class: "mdl-textfield__label" %><br>
      <%= f.text_field  :value, class: "mdl-textfield__input" %>
    </div>

    <div class="actions">
      <%= f.submit 'Salvar', class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
    </div>
<% end %>
