<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><i class="material-icons md-36">find_in_page</i> Filtros</span>
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <p id="notice"><%= notice %></p>

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Nome</th>
          <th class="mdl-data-table__cell--non-numeric">Coluna</th>
          <th class="mdl-data-table__cell--non-numeric">Operação</th>
          <th class="mdl-data-table__cell--non-numeric">Valor</th>
        </tr>
        </thead>

        <tbody>
        <% @filters.each do |filter| %>
            <tr>
              <td><%= filter.name %></td>
              <td><%= filter.query %></td>
              <td><%= filter.operation %></td>
              <td><%= filter.value %></td>
              <td><%= link_to 'Usar', search_path(filter) %></td>
              <td><%= link_to 'Detalhes', filter %></td>
              <td><%= link_to 'Editar', edit_filter_path(filter) %></td>
              <td><%= link_to 'Apagar', filter, method: :delete, data: {confirm: 'Tem certeza?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Novo Filtro', new_filter_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
      <%= link_to 'Contatos', contacts_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>

    </div>
  </main>
</div>
